<div id="<%= dom_id content %>" class="p-4">
  <!-- image placeholder -->
  <div class="h-40 bg-gray-300 mb-4"></div>

  <p>
    <%= link_to content.title, content %>
  </p>
  <p>
    <%= content.body %>
  </p>
</div>
