<% content_for :title, "Contents" %>

<div id="contents" class="container mx-auto p-4">
  <div class="grid grid-cols-12 gap-4">
    <% if notice %>
      <div class="col-span-12">  
        <%= card do %>
          <div class="p-4">
            <%= notice %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% @contents.each do |content| %>
      <div class="col-span-12 md:col-span-4 xl:col-span-3">
        <%= card do %>
          <%= render content %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
